{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url('https://static.vecteezy.com/system/resources/previews/010/081/678/non_2x/abstract-gradient-green-light-background-free-vector.jpg');
            background-size: 100% auto; /* Étire l'image en hauteur */
            background-position: center;
            /* Ajoutez d'autres propriétés CSS si nécessaire */
            .logo {
                position: absolute;
                top: 20px; /* Ajustez la position verticale du logo */
                left: 20px; /* Ajustez la position horizontale du logo */
                width: 100px; /* Ajustez la largeur du logo selon vos besoins */
                height: auto; /* Maintient le ratio d'aspect */
            }
            .logout-btn {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    </style>
{% endblock %}

{% block title %}List of the dates{% endblock %}

{% block body %}
    <img src="https://www.creativefabrica.com/wp-content/uploads/2022/09/25/Head-Wolf-Logo-Design-Inspiration-Graphics-39255511-2-580x387.jpg" alt="Logo" class="logo"> <br>
    <a class="btn btn-danger mt-2 text-white logout-btn" href="{{ path('welcome') }}">log out</a>
    <h1 style="text-align: center"> List of all the dates that have been registered</h1> <br>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for data in list %}
                <tr>
                    <th scope="row">{{ data.id }}</th>
                    <td>{{ data.Nom }}</td>
                    <td>{{ data.Prenom }}</td>
                    <td>{{ data.Date|date('Y-m-d') }}</td>
                    <td>
                     <a class="btn btn-warning" href="{{ path('update', {'id': data.id }) }}"> Update </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" onclick="showConfirmationPopup({{ data.id }})">Delete</a>
                        <script>
                            function showConfirmationPopup(id) {
                                // Afficher la popup ici
                                if (confirm("Are you sure you want to delete?")) {
                                    window.location.href = "{{ path('delete', {'id': '__id__' }) }}".replace('__id__', id);
                                } else {
                                    // Annuler la suppression
                                    return false;
                                }
                            }
                        </script>
                    </td>
                </tr>
            {% endfor %}
            <a class="btn btn-info mt-2 text-white" href="{{ path('create') }}">Ajouter</a>
            <a class="btn btn-danger mt-2 text-white" href="{{ path('list') }}">Back</a>
            </tbody>
        </table>
    </div>


{% endblock %}